.location {
  margin-right: rem(20px);
  border-radius: rem(13px);
  background-color: rgba(0, 0, 0, 0.33);
  height: rem(28px);
  width: rem(92px);
  display: flex;
  align-items: center;

  .icon {
    display: inline-block;
    width: rem(15px);
    height: rem(20px);
    margin-left: rem(6px);
    background-image: url("./image/location.png");
    background-size: cover;
  }

  .text {
    display: inline-block;
    position: relative;
    color: #fff;
    font-size: rem(14px);
    margin-left: rem(8px);
    margin-right: rem(19px);

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: rem(14px);
      height: rem(14px);
      background-image: url('./image/arrow.png');
      background-size: cover;
      right: rem(-15px);
      top: rem(-1px);
    }
  }
}
